version: '0.1.{build}'

image: Visual Studio 2017

platform:
  - x64

configuration:
  - Release

install:
  - git submodule update --init --recursive
  - call C:\\Miniconda36-x64\Scripts\activate.bat
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda install conda-build anaconda-client
  - conda config --add channels usgs-astrogeology

before_build:
  - mkdir build
  - cd build
  
build_script:
  - cmake -G "Visual Studio 15 2017 Win64" -DBUILD_TESTS=OFF ..
  - cmake --build . --target ALL_BUILD --config Release

  - path: build\Release\usgscsm.dll
    name: usgscsm.dll

on_success:
- cd ../
- conda build -q recipe/
- ps:
      $tar_glob = conda build recipe --output;
      Write-Host "tar_glob $tar_glob";
      if ($env:APPVEYOR_REPO_TAG_NAME == "dev") {
        $anaconda_label = "dev"
      } else {
        $anaconda_label = "main"
      };
      Write-Host "anaconda_label $anaconda_label";
      $parameters = '-t', "$env:CONDA_UPLOAD_TOKEN", 'upload', "$tar_glob", '-l',
                    "$anaconda_label", '--force', '--no-progress';
      & cmd /c 'anaconda 2>&1' $parameters;
