version: '0.1.{build}'

image: Visual Studio 2017

platform:
  - x64

configuration:
  - Release

install:
  - git submodule update --init --recursive

before_build:
  - mkdir build
  - cd build
  
build_script:
  - cmake -G "Visual Studio 15 2017 Win64" -DBUILD_TESTS=OFF ..
  - cmake --build . --target ALL_BUILD --config Release

on_success:
- cmd: conda build --token %CONDA_UPLOAD_TOKEN% .
