[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest
[submodule "csm"]
	path = csm
	url = https://github.com/USGS-Astrogeology/csm
[submodule "ale"]
	path = ale
	url = git@github.com:DOI-USGS/ale.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
