[submodule "gtest"]
	path = external/gtest
	url = https://github.com/google/googletest
[submodule "csm"]
	path = external/csm
	url = https://github.com/USGS-Astrogeology/csm
[submodule "ale"]
	path = external/ale
	url = https://github.com/DOI-USGS/ale.git
[submodule "json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "PROJ"]
	path = external/PROJ
	url = https://github.com/OSGeo/PROJ
[submodule "external/sqlite3/upstream"]
	path = external/sqlite3/upstream
	url = https://github.com/azadkuh/sqlite-amalgamation.git
[submodule "external/StarDS"]
	path = external/StarDS
	url = https://github.com/DOI-USGS/StarDS.git
[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4
[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/curl/curl
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
