# Ignore the build and lib dirs
build
lib/*
include/csm/*

# iPython checkpoint items
.ipynb_checkpoints

# Ignore any executables
bin/*

# Ignore any Mac stuff
.DS_Store

*.cpython*
__pycache__
__pycache__/*
.cache/*
.cache

.vscode/*
