language: cpp
sudo: false

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      env:
        - MATRIX_EVAL="CXX=g++-6 && CC=gcc-6"
    - os: osx
      osx_image: xcode9.4
      env: 
        - MATRIX_EVAL="CXX=clang++ && CC=clang"

before_install:
  - eval "${MATRIX_EVAL}"
  - |
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      pip install --user cpp-coveralls;
    fi
install:
  # Install a supported cmake version (>= 3.10)
  - |
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      curl -o miniconda.sh  https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda install -y -c conda-forge cmake
  
script:
  - mkdir build
  - cd build
  - cmake -DCOVERAGE=ON ..
  - cmake --build .
  - ctest

after_success:
  - cd .. && source activate base
  - conda install -y -q conda-build anaconda-client
  # Pull the libcsm for the build from our anaconda channel
  - conda config --add channels usgs-astrogeology
  - conda config --set anaconda_upload yes
  - conda build --token $CONDA_UPLOAD_TOKEN recipe -q
